<header>
    <div class="container">
        <div class="objectlogo">
        <a href="/" class="logohome"><img src="https://exchangily.com/images/exchangily%20decentralized%20exchange%20logo.png" class="logo">eXchangily</a>
        </div>
        <nav>
            <ul>
                <li><a href="#" routerLink="/wallet" [ngClass]="{'active': selectedIndex == 1}" (click)="setSelected(1)">Wallet</a></li>
                <li><a href="#" routerLink="/market" [ngClass]="{'active': selectedIndex == 2}" (click)="setSelected(2)">Market</a></li>
                <li><a href="#" routerLink="/trade" [ngClass]="{'active': selectedIndex == 3}" (click)="setSelected(3)">Trade</a></li>
                <li><a href="#" routerLink="/explore" [ngClass]="{'active': selectedIndex == 4}" (click)="setSelected(4)">Explore</a></li>
            </ul>
        </nav>
    </div>
</header>
