<header>
    <div class="container">
        <div class="objectlogo">
        <a href="/" class="logohome"><img src="https://exchangily.com/images/exchangily%20decentralized%20exchange%20logo.png" class="logo">eXchangily</a>
        </div>
        <nav>
            <ul>
                <li><a href="#" routerLink="">Wallet</a></li>
                <li><a href="#" routerLink="">Market</a></li>
                <li><a href="#" routerLink="">Trade</a></li>
                <li><a href="#" routerLink="">Explore</a></li>
            </ul>
        </nav>
    </div>
</header>
